GOOGLE_AG_BASE_URL=https://generativelanguage.googleapis.com/v1beta
GOOGLE_AG_API_KEY=
GOOGLE_AG_MODEL=gemini-2.5-pro

WINDSURF_BASE_URL=https://api.windsurf.com/v1
WINDSURF_API_KEY=
WINDSURF_MODEL=swe-1
